@import "../../assets/mixins.scss";
@import "../../assets/variables.scss";

.logement {
  &_content {
    @include flex(row, space-between, flex-start);
    color: $color-secondary;
    width: 95%;
    margin: 0 auto;
    &_infos {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 14px;
      h1 {
        font-size: 50px;
      }
      button {
        display: inline;
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        color: $color-primary;
        background-color: $color-secondary;
        &:hover {
          box-shadow: 0 2px 8px rgb(0, 0, 0);
        }
      }
      div {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
      }
    }
    &_host {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0 10px;
        padding-top: 15px;
      }
      &_name {
        align-self: center;
        flex-direction: column;
      }
      img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
      &_stars {
        display: flex;
        gap: 10px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  &_collapse {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    &_container {
      display: flex;
      width: 95%;
    }
    &_item {
      &:lastchild {
        padding-left: 100px;
      }
      &1 {
        width: 50%;
        flex: 1;
      }
      &2 {
        width: 50%;
        padding-left: 100px;
      }
    }
  }
}
