.Collapse_Container {
  max-width: 1000px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  border-radius: 0px 0px 10px 10px;

  background-color: #f7f7f7;
}

.Collapse_Container--Apartment {
  max-width: 1240px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  display: flex;

  justify-content: space-between;
}

.Collapse_Apartment {
  width: 48%;
}

.Collapse_Apartment p {
  font-size: 1.2rem;
}
.Collapse_Apartment li {
  list-style: none;
}

.Collapse_EquipmentsList {
  font-size: 1rem;
}

.Collapse_header {
  background-color: #ff6060;
  border-radius: 10px;
  color: white;

  width: 100%;

  height: 50px;

  display: flex;
  justify-content: space-between;
}

.Collapse_header:hover {
  cursor: pointer;
}

.Collapse_header img {
  width: 25px;
  height: 17px;

  margin-top: auto;
  margin-bottom: auto;

  padding-right: 20px;
}

.Collapse_title {
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.about_container {
  margin-top: 40px;
  margin-bottom: 70px;
}

.Collapse_para {
  color: #ff6060;
  font-size: 1.5rem;

  margin: 0;
  padding: 20px;
}

.Collapse_content {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  max-height: 0;
}

.Collapse_content--expanded {
  max-height: 210px;
}

.vector {
  transition: transform 0.3s ease-in-out;
  transform-origin: 25%;
}

.Rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 1300px) {
  .Collapse_Container {
    max-width: 100%;
  }

  .about_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .Collapse_para {
    color: #ff6060;
    font-size: 1.5rem;

    margin: 0;
    padding: 20px;
  }

  .Collapse_Container--Apartment {
    max-width: 90%;
  }

  .Collapse_Apartment p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 812px) {
  .Collapse_para {
    font-size: 1.2rem;
    padding: 15px;
  }

  .Collapse_header {
    height: 35px;
  }

  .Collapse_title {
    font-size: 1.4rem;
  }

  .Collapse_header img {
    width: 20px;
    height: 14px;
  }

  .Collapse_Container--Apartment {
    max-width: 90%;
    display: block;
  }

  .Collapse_Apartment {
    width: 100%;
  }

  .about_container {
    margin-bottom: 100px;
  }
}
