.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

img {
  width: 10rem;
}

.header_list {
  display: flex;
  text-decoration: none;
}

.header_list li {
  list-style: none;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.header_link {
  text-decoration: none;
  color: #ff6060;
  margin: 1rem 0.5rem;
  padding: 0.2rem 0.7rem;
  font-weight: bold;
}

.header_link:hover {
  text-decoration: underline;
}
