.banner {
  position: relative;
  background-position: center;
  height: 223px;
  max-width: 100%;
  border-radius: 0.8rem;
  margin: auto;
  margin-bottom: 40px;
  display: grid;
  place-items: center;
  color: white;
  background-size: 100%;
}

.banner img,
.bannerfilter {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.bannerfilter {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner h1 {
  position: relative;
  font-size: 48px;
  z-index: 2;
}
